.footer {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 40px 0;
  background-image: url("../img/footer-bg-left.png"),
    url("../img/footer-bg-right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  margin-top: auto;

  &__logo {
    margin-bottom: 25px;
  }

  &__address {
    margin-bottom: 25px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    column-gap: 15px;
  }

  &__nav-link {
    color: #004af2;
    text-align: center;
    font-family: "PTSansRegular", sans-serif;
    font-size: 12px;
    line-height: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__inner {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .footer {
    background-image: none;
  }
}
