.intro {
  background: url("../img/intro-bg.jpg") no-repeat center / cover;
  margin-bottom: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 600px;
  }

  &__text {
    text-align: right;
    margin: 0 50px 50px;
  }

  &__countries {
    color: #fff;
  }

  &__title {
    color: rgba(255, 255, 255, 0.8);
    text-align: right;
    font-family: "LatoBold", sans-serif;
    font-size: 110px;
    line-height: 100px;
    position: relative;

    &:after {
      position: absolute;
      content: "&";
      right: 12px;
      top: 37px;
      color: rgba(255, 255, 255, 0.2);
      font-family: "LatoBlack", sans-serif;
      font-size: 170px;
      line-height: 100px;
    }
  }
}

@media (max-width: 786px) {
  .intro {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
    }

    &__text {
      order: -1;
      margin: 95px 0px 0px;
    }

    &__title {
      font-family: "LatoBold", sans-serif;
      font-size: 100px;
      line-height: 90px;
      margin-top: 40px;
    }
  }
}

@media (max-width: 370px) {
  .intro {
    &__title {
      font-family: "LatoBold", sans-serif;
      font-size: 90px;
      line-height: 80px;
      margin-top: 40px;
    }
  }
}
