.services {
  border-radius: 5px;
  background: #fff;
  padding: 30px 40px 95px;
  filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
  position: relative;

  &:after {
    position: absolute;
    content: "Services";
    bottom: 14px;
    right: 26px;
    color: rgba(44, 44, 44, 0.05);
    font-family: "LatoBlack", sans-serif;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    pointer-events: none;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }

  &__item {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #2c2c2c;
    font-family: "LatoBlack", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-grow: 1;
  }

  &__link {
    position: relative;
    padding-bottom: 10px;
    transition: color 0.22s ease-in-out;

    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background-color: #004af2;
      height: 2px;
      width: 10px;
      transition: all 0.22s ease-in-out;
    }

    &:hover {
      color: #ff3e2f;
    }

    &:hover:before {
      width: 100%;
      background-color: #ff3e2f;
    }
  }
}

@media (max-width: 991px) {
  .services {
    &__item {
      max-width: 45%;
    }
  }
}

@media (max-width: 540px) {
  .services {
    &__item {
      max-width: 100%;
    }

    &:after {
      font-size: 60px;
      line-height: 60px;
    }
  }
}
