<section id='clients' class="section section--map" data-scrollspy='#clients'>
  <div class="container">


    <h3 class="section__title">
      <span>Our</span> Clients
    </h3>

    <div class="clients">
      <div class="clients__logos" data-aos="fade-up" data-aos-duration="3000">
        <ul class="clients__list">
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/atica.png" alt="atica">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/hex-lab.png" alt="hex-lab">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/amara.png" alt="amara">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/muzica.png" alt="muzica">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/solaytic.png" alt="solaytic">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/hexa.png" alt="hexa">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/utosia.png" alt="utosia">
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img src="img/clients/fox-hub.png" alt="fox-hub">
            </a>
          </li>
        </ul>
      </div>

      <div class="clients__reviews" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <div id='swiper' class="swiper">
          <div class="reviews swiper-wrapper">
            <div class="reviews__item swiper-slide">
              <div class="reviews__header">
                <div class="reviews__img">
                  <img src="https://place-hold.it/100x100" alt="user">
                </div>

                <div>
                  <div class="reviews__name">
                    John Smith
                  </div>
                  <div class="reviews__company">
                    FOX Hub CEO
                  </div>
                </div>
              </div>

              <div class="reviews__content">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                  et
                  ea rebum.
                </p>
                <p>
                  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                  sit
                  amet, consetetur sadipscing elitr, sed diam
                </p>
              </div>
            </div>
            <div class="reviews__item swiper-slide">
              <div class="reviews__header">
                <div class="reviews__img">
                  <img src="https://place-hold.it/100x100" alt="user">
                </div>

                <div>
                  <div class="reviews__name">
                    Daniel Kore
                  </div>
                  <div class="reviews__company">
                    Software engineer
                  </div>
                </div>
              </div>

              <div class="reviews__content">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                  et
                  ea rebum.
                </p>
                <p>
                  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                  sit
                  amet, consetetur sadipscing elitr, sed diam
                </p>
              </div>
            </div>
            <div class="reviews__item swiper-slide">
              <div class="reviews__header">
                <div class="reviews__img">
                  <img src="https://place-hold.it/100x100" alt="user">
                </div>

                <div>
                  <div class="reviews__name">
                    Anna Filler
                  </div>
                  <div class="reviews__company">
                    Marketing specialist - 10 years experience
                  </div>
                </div>
              </div>

              <div class="reviews__content">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                  et
                  ea rebum.
                </p>
                <p>
                  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                  sit
                  amet, consetetur sadipscing elitr, sed diam
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>

    <a class="btn btn--orange" href="#" data-modal-btn='modal-1'>
      Become a client
    </a>
    <span class="clients-love">
      we love our clients
    </span>
  </div>
</section>