<section class="section section--map">
  <div class="container">
    <h3 class="section__title">
      <span>Our</span> Clients
    </h3>

    <div class="clients">
      <div class="clients__logos">
        <ul class="clients__list">
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/atica.png"
                alt="atica"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/hex-lab.png"
                alt="hex-lab"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/amara.png"
                alt="amara"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/muzica.png"
                alt="muzica"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/solaytic.png"
                alt="solaytic"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/hexa.png"
                alt="hexa"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/utosia.png"
                alt="utosia"
              >
            </a>
          </li>
          <li class="clients__item">
            <a class="clients__link" href="#">
              <img
                src="img/clients/fox-hub.png"
                alt="fox-hub"
              >
            </a>
          </li>
        </ul>
      </div>

      <div class="clients__reviews">
        <div class="reviews">
          <div class="reviews__item">
            <div class="reviews__header">
              <div class="reviews__img">
                <img
                  src="https://place-hold.it/100x100"
                  alt="user"
                >
              </div>

              <div>
                <div class="reviews__name">
                  John Smith
                </div>
                <div class="reviews__company">
                  FOX Hub CEO
                </div>
              </div>
            </div>

            <div class="reviews__content">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum.
              </p>
              <p>
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="btn btn--orange" href="#">
      Become a client
    </a>
    <span class="clients-love">
      we love our clients
    </span>
  </div>
</section>
