<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <img
        class="footer__logo"
        src="img/svg/logo-black.svg"
        alt="logo"
      >

      <address class="footer__address">
        <p>
          New York, Street, ZIP code
        </p>

        <p>
          Call Us: +9948373123 or E-mail: hello@centerlogistic.com
        </p>
      </address>

      <nav class="footer__nav">
        <a class="footer__nav-link" href="#">
          Terms & Contidions
        </a>
        <a class="footer__nav-link" href="#">
          Privacy Policy
        </a>
        <a class="footer__nav-link" href="#">
          Our blog
        </a>
      </nav>
    </div>
  </div>
</footer>
