<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo logo" href="../index.html">
        <img
          src="img/svg/logo.svg"
          alt="logo"
        >
      </a>

      <nav class="nav">
        <a class="nav__link active" href="#">
          Services
        </a>
        <a class="nav__link" href="#">
          Clients
        </a>
        <a class="nav__link" href="#">
          Benefits
        </a>
        <a class="nav__link" href="#">
          Team
        </a>
        <a class="nav__link" href="#">
          News
        </a>
        <a class="nav__link" href="#">
          Contact Us
        </a>
      </nav>

    </div>
  </div>
</header>
