<header class="header header--dark">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo logo" href="../index.html">
        <img src="img/svg/logo.svg" alt="logo">
      </a>

      <button class="burger" type='button'>
        <span></span>
      </button>

      <nav class="nav">
        <a class="nav__link active" href="index.html">
          Home Page
        </a>
        <a class="nav__link" href="#">
          Privacy Policy
        </a>
        <a class="nav__link" href="#">
          Terma & Conditions
        </a>
      </nav>

    </div>
  </div>
</header>