<div class="modal" id="becomeClientModal" data-modal='modal-1'>
  <div class="modal__inner">
    <div class="modal__header">
      <h3 class="modal__title">
        Need to deliver your cargo?
        We can help!
      </h3>

      <p class="modal__text">
        Fill a little form and we will call you back!
      </p>
    </div>

    <form class="form" action="/" method="post">
      <label class="form__group">
        <input class="form__input input--dark form__input--user" type="text" placeholder="Your name">
      </label>
      <label class="form__group">
        <input class="form__input input--dark form__input--phone" type="tel" placeholder="Your phone">
      </label>
      <label class="form__group">
        <input class="form__input input--dark form__input--email" type="email" placeholder="Your e-mail">
      </label>

      <button class="form__submit btn btn--orange btn-full" type="submit">
        Call me back
      </button>
    </form>

    <div class="modal__footer">
      <h4 class="modal__footer-title">
        Our contacts
      </h4>

      <address class="modal__contacts">
        <p>
          New York, Street, ZIP code
        </p>
        <p>
          <a href="tel:9948373123">Phone: +9948373123</a>
        </p>
        <p>
          <a href="mailto:hello@centerlogistic.com">
            E-mail: hello@centerlogistic.com
          </a>
        </p>
      </address>
    </div>

    <button class="modal__close">
      <img src="../img/svg/close.svg" alt="close-btn">
    </button>
  </div>
</div>

<div class="modal" id="thanksModal" data-modal='modal-2'>
  <div class="modal__inner">
    <div class="modal__header">
      <img class="modal__logo" src="img/svg/modal-logo.svg" alt="">

      <h3 class="modal__title">
        Thanks for your request
      </h3>

      <p class="modal__text">
        We call you back as soon as possible!
      </p>
    </div>

    <div class="modal__footer">
      <h4 class="modal__footer-title">
        Our contacts
      </h4>

      <address class="modal__contacts">
        <p>
          New York, Street, ZIP code
        </p>
        <p>
          <a href="tel:9948373123">Phone: +9948373123</a>
        </p>
        <p>
          <a href="mailto:hello@centerlogistic.com">
            E-mail: hello@centerlogistic.com
          </a>
        </p>
      </address>
    </div>

    <button class="modal__close">
      <img src="../img/svg/close.svg" alt="close-btn">
    </button>
  </div>
</div>