<div class="section">
  <div class="container">
    <h2 class="section__title">
      <span>
        Interesting
      </span>
      to read
    </h2>

    <div class="news">
      <div class="news__item">
        <h4 class="news__title">
          <a href="#">
            News title
          </a>
        </h4>

        <p class="news__text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

        <time
          class="news__time"
          datetime="2019-03-21" pubdate="pubdate"
        >
          21 March, 2019
        </time>
      </div>

      <div class="news__item">
        <h4 class="news__title">
          <a href="#">
            News title
          </a>
        </h4>

        <p class="news__text">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

        <time
          class="news__time"
          datetime="2019-03-21" pubdate="pubdate"
        >
          21 March, 2019
        </time>
      </div>
    </div>

    <a class="btn btn--orange" href="blog.html">
      Visit blog
    </a>
  </div>
</div>
