<section class="section">
  <div class="container">
    <div class="services">
      <div class="services__inner">
        <div class="services__item">
          <h4 class="services__title">
            Ground Shipping
          </h4>
          <p class="services__text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam
          </p>
          <div class="services__footer">
            <a class="services__link" href="#">
              Learn more
            </a>
          </div>
        </div>
        <div class="services__item">
          <h4 class="services__title">
            Railway Shipping
          </h4>
          <p class="services__text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam
          </p>
          <div class="services__footer">
            <a class="services__link" href="#">
              Learn more
            </a>
          </div>
        </div>
        <div class="services__item">
          <h4 class="services__title">
            Water Shipping
          </h4>
          <p class="services__text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam
          </p>
          <div class="services__footer">
            <a class="services__link" href="#">
              Learn more
            </a>
          </div>
        </div>
        <div class="services__item">
          <h4 class="services__title">
            Air Shipping
          </h4>
          <p class="services__text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam
          </p>
          <div class="services__footer">
            <a class="services__link" href="#">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
