html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PTSansRegular", sans-serif;
  font-size: var(--fz-base);
  color: var(--color-dark-gray);
  line-height: 1.5;
  background-color: var(--color-white);
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

//.page__body {
//  margin: 0;
//  min-width: 320px;
//  min-height: 100%;
//  font-size: 16px;
//}
//
//img {
//  height: auto;
//  max-width: 100%;
//  object-fit: cover;
//}

a {
  text-decoration: none;
}

//.site-container {
//  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
//}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.section {
  padding: 60px 0;

  &__title {
    font-family: "LatoBlack", sans-serif;
    font-size: 45px;
    color: #2c2c2c;
    margin-bottom: 41px;

    span {
      color: #004af2;
    }
  }
}

.section--gray {
  background: #f9f9f9;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.center {
  text-align: center;
}

.btn {
  padding: 11px 45px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: var(--color-white);
  font-family: "PTSansBold", sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  vertical-align: middle;
}

.btn--orange {
  border-radius: 5px;
  background-image: linear-gradient(90deg, #ff903e 0%, #ff2c2c 100%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.3s ease;
}

.btn--orange:hover {
  background-position: left;
}

.btn-full {
  width: 100%;
}

.input--dark {
  color: #2c2c2c;
}

@media (max-width: 991px) {
  .section {
    &__title {
      text-align: center;
      font-size: 40px;
      line-height: 55px;
    }
  }
}
